<tr>
  <td>
    <%= User.find(ride_request.user_id).first_name + " " + User.find(ride_request.user_id).last_name%>
  </td>
  <td>
    <%= ride_request.start_date.to_s %>
  </td>
  <td>
    <%= ride_request.start_time.to_s %>
  </td>
  <td>
    <%= ride_request.start_address %>
  </td>
  <td>
    <%= ride_request.end_address %>
  </td>
  <td>
    <%= ride_request.status %>
  </td>
  <% if user_owns_request?(ride_request) %>
  <td>
    <%= link_to "delete", ride_request, method: :delete, confirm: "You sure?" %>
  </td>
  <% end %>
  <% if user_owns_ride?(ride_request) && request_pending?(ride_request) %>
  <td>
    <%= link_to "accept", accept_request_path(:id => ride_request) %>
  </td>
  <td>
    <%= link_to "decline", decline_request_path(:id => ride_request) %>
  </td>
  <% end %>
  <td>
    <% if ride_in_past?(ride_request) %>
      <%= link_to "redeem", '#' %>
    <% end %>
  </td>
</tr>
