<% provide(:title, 'Profile') %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <% if @user.first_name %>
          <%= 'Welcome back, ' + @user.first_name + '!' %>
        <% else %>
          Welcome back!
        <% end %>
      </h1>
    </section>
  </aside>
</div>
<div class="row">
  <div class="center span6">
    <h2>Passenger Rides</h2>
    <%= link_to "Request a Ride", searchride_path, class: "btn btn-small btn-success" %>
    <%= render :partial => "users/user_requests" %>
  </div>
  <div class="center span6">
    <h2>Driver Rides</h2>
    <%= link_to "Offer a Ride", newride_path, class: "btn btn-small btn-success", id: "offer_button" %>
    <%= render :partial => "users/user_rides" %>
  </div>
</div>


