<tr>
  <td>
    <%= ride.start_date.to_s %>
  </td>
  <td>
    <%= ride.start_time.strftime("%H:%M") %>
  </td>
  <td>
    <%= ride.start_address %>
  </td>
  <td>
    <%= ride.end_address %>
  </td>
  <td>
    <%= get_available_seats_count(ride) %>
  </td>
  <% if has_requests?(ride) %>
    <td>
      <%= link_to "requests", show_ride_requests_path(:id => ride) %>
    </td>
  <% end %>
  <% if user_owns_ride?(ride) %>
    <td>    
      <%= link_to "edit", controller: :rides, action: :edit, id: ride %>
    </td>
  <% end %>
  <% if !ride_in_past?(ride) %>
    <td>
      <%= link_to "delete", ride, method: :delete, confirm: "You sure?" %>
    </td>
  <% end %>
</tr>
