<tr>
  <td>
    <%= ride.start_date.to_s %>
  </td>
  <td>
    <%= ride.start_time.strftime("%H:%M") %>
  </td>
  <td>
    <%= ride.start_address %>
  </td>
  <td>
    <%= ride.end_address %>
  </td>
  <td>
    <%= get_available_seats_count(ride) %>
  </td>
  <td>
    <% if !ride_in_past?(ride) %>
    <%= link_to "edit", controller: :rides, action: :edit, id: ride %>
    <% end %>
  </td>
  <td>
    <% if !ride_in_past?(ride) %>
      <%= link_to "delete", ride, method: :delete, confirm: "You sure?" %>
    <% end %>
  </td>
  <td>
    <% if ride_in_past?(ride) %>
      <%= link_to "redeem", '#' %>
    <% end %>
  </td>
</tr>
