<tr>
  <td>
    <%= ride.start_time.strftime("%d-%m-%Y") %>
  </td>
  <td>
    <%= ride.start_time.strftime("%H:%M") %>
  </td>
  <td>
    <%= ride.start_address %>
  </td>
  <td>
    <%= ride.end_address %>
  </td>
  <td>
    <%= get_price ride %>
  </td>
  <td>
    <%= get_available_seats_count(ride) %>
  </td>
  <td>
    <%= link_to "details", show_ride_path(:id => ride) %>
  </td>
  <td>
</tr>
