<tr>
  <td>
    <%= ride.start_date.to_s %>
  </td>
  <td>
    <%= ride.start_time.to_s %>
  </td>
  <td>
    <%= ride.start_address %>
  </td>
  <td>
    <%= ride.end_address %>
  </td>
  <td>
    <%= get_available_seats_count(ride) %>
  </td>
  <td>
    <%= link_to "edit", controller: :rides, action: :edit, id: ride %>
  </td>
  <td>
    <%= link_to "delete", ride, method: :delete, confirm: "You sure?" %>
  </td>
</tr>
