<% provide(:title, 'Create New Ride') %>
<% content_for(:body_settings) do %>
  onload="initialize()"
<% end %>
<h1>Create a New Ride...you are the driver</h1>

<div class="row-fluid">
      <div class="span6">
        <%= form_for(@ride) do |f| %>      
          <%= render 'shared/error_messages' %>

          <%= f.label :start_address %>
          <%= f.text_field :start_address, :onchange => "calcRoute()" %>

          <%= f.label :end_address %>
          <%= f.text_field :end_address, :onchange => "calcRoute()"%>

          <%= f.label :start_date, "Start Date DD-MM-YYYY" %>
          <%= f.text_field :start_date, :value => "13-09-2012" %>

          <%= f.label :start_time, "Start Time HH:MM" %>
          <%= f.text_field :start_time, :value => "13:00"  %>

          <%= f.label :no_seats, "How many seats have you got available?" %>
          <%= f.text_field :no_seats, :value => "3" %>

          <%= f.label :price %>
          <%= f.text_field :price, :value => "2.00" %>

          <%= f.hidden_field :user_id, :value => @user.id %>
          <%= f.hidden_field :distance_in_meters %>
          <%= f.hidden_field :start_lat %>
          <%= f.hidden_field :start_long %>
          <%= f.hidden_field :end_lat %>
          <%= f.hidden_field :end_long %>
          <%= hidden_field_tag :duration %>
          <%= f.hidden_field :end_time %>
          <%= f.hidden_field :end_date %>

          <%= f.submit "Offer my empty seats", class: "btn btn-large btn-primary" %>
        <% end %>

      </div>      
      <div class="span6">
        <%= render 'map' %>
        <div id="map_details">
          <span id="map_details_distance"></span><br />
          <span id="map_details_duration"></span>
        </div>
      </div>   
</div>
